<!doctype html>  
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
	<head>
        <meta charset="utf-8" />
        
        <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        
        <title><%= "#{SITE_TITLE}" %></title>
        <meta name="description" content="Beasley Accounting &amp; Tax, LLC provides Charlotte and the surrounding area with professional tax services, including payroll and bookkeeping, for individuals, corporations, and partnerships." />
		<meta name="keywords" content="accounting, tax, payroll, bookkeeping, enrolled agent, individual taxes, corporate taxes, partnership taxes, charlotte accounting, charlotte tax" />
        <meta name="viewport" content="width=device-width">

        <script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');</script>
        
        <link rel="stylesheet" href="/css/normalize.css?v=1" />   
        <link rel="stylesheet" href="/css/global.css?v=1" />   
		<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script>
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-24426375-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</head>
	<body>
		<div id="container" itemscope itemtype="http://schema.org/AccountingService">
			<header>
            	<div class="wrapper">
                	<h1 class="clearfix">
						<a href="http://beasleyaccounting.com" id="logo-heading" itemprop="url">
							<img src="/images/logo.jpeg" alt="" />
							<span><%= "#{SITE_TITLE}" %></span>
						</a>
					</h1>
                </div>
            </header>
			<article>
				<div class="wrapper">
					<%= yield %>
				</div>
			</article>
			<footer class="wrapper">
				&copy;2015 <span itemprop="name"><%= "#{SITE_TITLE}" %></span>
			</footer>	
		</div>
	</body>
</html>